{% load custom_filters %}

<div class="col-12 text-center">
    <div class ="card py-4 px-3 mx-5 card-inmuebles" id = "renter_filtered">
        <h3>{{ card_name }}</h3>
        {% block rents%}
            <div class = 'row'>
                {% for inmueble in inmuebles %}
                    <div class = "col-4 py-4">
                        <div class = "card h-100" id = "{{ inmueble.id }}">
                            {% comment %} AGREGAR O NO IMAGENES <img src="{{ flan.image_url }}" class="card-img-top" alt= "{{ flan.name }}"> {% endcomment %}
                            <div class = "card-header text-center">
                                <h3>{{ inmueble.nombre }}</h3>
                            </div>
                            <div class = "card-body overflow-y-scroll" >
                                <div class = "row">
                                    <div class = "col-12">
                                        <p>{{ inmueble.arrendatario.nombres |addstr:' ' |addstr:inmueble.arrendatario.apellidos }}</p>
                                        {% if inmueble.arrendador.nombres %}
                                            <p>{{ inmueble.arrendador.nombres }}</p>
                                        {% else %}
                                            <p>No hay arrendador aún</p>
                                        {% endif %}
                                    </div>
                                    <div class = "col-12 col-xs-12 col-sm-12 col-md-6">
                                        <p>Metros² Construidos: {{ inmueble.m2_construidos }}[m²]</p>
                                    </div>
                                    <div class = "col-12 col-xs-12 col-sm-12 col-md-6">
                                        <p>Metros² Totales: {{ inmueble.m2_totales }}[m²]</p>    
                                    </div>
                                    <div class = "col-12 col-xs-12 col-sm-12 col-md-6">
                                        <p>Comuna: {{ inmueble.comuna }}</p>
                                    </div>
                                    <div class = "col-12 col-xs-12 col-sm-12 col-md-6">
                                        <p>Región: {{ inmueble.region }}</p>
                                    </div>
                                    <div class = "col-12 col-xs-12 col-sm-12 col-md-6">
                                        <p>Tipo de Inmueble: {{ inmueble.tipo_inmueble }}</p>
                                    </div>
                                    <div class = "col-12 col-xs-12 col-sm-12 col-md-6">
                                        <p>Valor de Arriendo: <b>${{ inmueble.arriendo }}</b></p>
                                    </div>
                                </div>
                                <button class = "btn btn-outline-info custom detailsOpenModal" data-toggle="modal" data-target="#detailsModal" data-value = "{{ inmueble|as_dict }}">Detalles</button>
                                {% if rentee %}
                                    <a href="{% url 'rentee_add_application' user=user.id inmueble=inmueble.id %}"><button class = "btn btn-outline-info custom" data-toggle="modal" data-target="#detailsModal">Iniciar Solicitud</button></a>
                                {% elif index %}
                                {% else %}
                                    <a href="{% url 'renter_update_rent' user=user.id inmueble=inmueble.id %}"><button class = "btn btn-outline-info custom" data-toggle="modal" data-target="#detailsModal">Modificar Inmueble</button></a>
                                    <a method ="delete"  href="{% url 'renter_delete_rent' user=user.id inmueble=inmueble.id %}"><button class = "btn btn-outline-info custom" data-toggle="modal" data-target="#detailsModal">Borrar Inmueble</button></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endblock rents%}
    </div>
</div>