{% extends 'bases/base.html' %}
{% block content%}
<section>
    <div class = "container-fluid py-5">
        <div class = "row">
            <div class="col-12 text-center">
                <div class ="card py-4 px-3 mx-5">
                    <div class = "card-title">
                        <h1>Acerca de Arriendos Kristen</h1>
                    </div>
                    <hr style="width:50%; margin-left:auto; margin-right:auto;">
                    <div class = "card-body">
                        <p>La empresa "Inmuebles Kristen" ha revolucionado el mercado de arrendamiento al ofrecer una plataforma integral donde los propietarios pueden poner en alquiler sus inmuebles, que van desde apartamentos y casas hasta locales comerciales y terrenos. Esta innovadora empresa se destaca por su interfaz intuitiva y su amplio alcance, permitiendo a los usuarios listar sus propiedades de manera rápida y sencilla. Además, ofrece herramientas avanzadas para la gestión de arrendamientos, como la automatización de pagos y contratos digitales, lo que reduce significativamente el tiempo y esfuerzo involucrados en el proceso tradicional de alquiler. "Inmuebles Kristen" no solo facilita la conexión entre arrendadores y arrendatarios, sino que también garantiza una experiencia segura y confiable mediante la verificación de identidades y antecedentes, protegiendo así los intereses de ambas partes.</p>
                        <p>Por otro lado, para los arrendatarios, "Inmuebles Kristen" proporciona una búsqueda personalizada y filtrada de inmuebles según sus necesidades y preferencias, como ubicación, tamaño, precio y tipo de propiedad. La plataforma está diseñada para ofrecer una experiencia de usuario óptima, permitiendo a los arrendatarios visualizar fotografías detalladas, realizar recorridos virtuales y acceder a reseñas de otros inquilinos. Además, la empresa ofrece soporte al cliente 24/7 para resolver cualquier duda o problema que pueda surgir, asegurando una experiencia de alquiler sin contratiempos. Gracias a su enfoque en la tecnología y la satisfacción del cliente, "Inmuebles Kristen" se ha posicionado como líder en el mercado de arrendamientos, proporcionando una solución eficiente y moderna tanto para propietarios como para arrendatarios en busca de una gestión inmobiliaria simplificada y efectiva.</p>
                        <p>"Inmuebles Kristen" inició como una idea innovadora en 2015 por un grupo de emprendedores apasionados por la tecnología y el sector inmobiliario. Observando las dificultades y la falta de eficiencia en el mercado de arrendamientos tradicionales, decidieron crear una plataforma digital que conectara directamente a propietarios e inquilinos. Su objetivo era simplificar y modernizar el proceso de alquiler mediante herramientas tecnológicas avanzadas, lo que rápidamente atrajo a una base de usuarios en constante crecimiento.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content%}