{% extends 'bases/base.html' %}

{% block content%}
<section>
    {% include "property_details.html" %}
    <div class = "container-fluid py-5">
        <div class = "row">
            <div class="col-12 text-center mb-4">
                <div class ="card py-4 px-3 mx-5">
                    <div class = "card-title">
                        <h1>Posibilidades de Arriendo</h1>
                    </div>
                    <hr style="width:50%; margin-left:auto; margin-right:auto;">
                    <div class = "card-body">
                        <p>Hola {{ user.nombres }}, aquí inicializar las solicitudes de arriendo, buscando con los filtros mas abajo.</p>
                        <a href="{% url 'rentee' user=user.id %}"><button class= "btn btn-outline-info custom" type="button" value = "Ver tus Solicitudes">Ver tus Solicitudes</button></a>
                        <a href="{% url 'rentee_rents' user=user.id %}"><button class= "btn btn-outline-info custom" type="button" value = "Ver Arriendos Posibles">Ver Arriendos Posibles</button></a>
                    </div>
                </div>
            </div>
            {% include "bases/base_rent_filter.html" with redirection='rentee_rents'%}
            {% include "bases/base_rent.html" with card_name="Arriendos disponibles" rentee=True %}
        </div>
    </div>
</section>
{% endblock content%}