{% extends 'bases/base_form.html' %}    
{% load custom_filters %}
    {%block form-description%}
        <div class="col-12 text-center">
            <h1>Ingreso de Solicitud de Arriendo</h1>
            <hr style="width:50%; margin-left:auto; margin-right:auto;">
            <p>A continuacion podrá ver los valores para ver si son validos y desea ingresar la solicitud.</p>
        </div>
    {%endblock form-description%}
    {% block form-details%}
    <form  action="{% url 'rentee_add_application' user=user.id inmueble=inmueble.id %}" method="post" class="px-3">
        {% csrf_token %}
        {% comment %} {{ form }} {% endcomment %}
        {{ form.non_field_errors }}
        
        <div class = "mb-3">
            <div class="pb-1 w-750 border-1">
                <label for = "{{ form.arrendador.id_for_label }}" class="form-label ps-2">
                    {{ form.arrendador.label_tag }}
                </label>
                {{ user.nombres |addstr:" " |addstr:user.apellidos }}
            </div>
            <div class="pb-1 w-750 border-1">
                <label for = "{{ form.inmueble.id_for_label }}" class="form-label ps-2">
                    {{ form.inmueble.label_tag }}
                </label>
                {{ inmueble }}
            </div>
            <div class="pb-1 w-750 border-1">
                <label for = "{{ form.aceptada.id_for_label }}" class="form-label ps-2">
                    {{ form.aceptada.label_tag }}
                </label>
                No
            </div>
            <div class="pb-1 w-750 border-1">
                <label for = "{{ form.rechazada.id_for_label }}" class="form-label ps-2">
                    {{ form.rechazada.label_tag }}
                </label>
                No
            </div>
            <div class="text-danger">
                {{ form.arrendador }}
                {{ form.inmueble }}
                {{ form.aceptada }}
                {{ form.rechazada }}
                {{ form.arrendador.errors }}
                {{ form.inmueble.errors }}
                {{ form.aceptada.errors }}
                {{ form.rechazada.errors }}
            </div>
        </div>
        <div class = "text-center pb-3">
            <input class= "btn btn-outline-info custom" type="submit" value="Enviar Solicitud de Arriendo">
        </div>
    </form>
    {% endblock form-details%}
