{% extends 'bases/base_email.html' %}
{% block email-subject%}
    <title>Recuperacion de contrasena</title>
{% block email-subject%}
{% block email-title%}
    <h1>Arriendos Kristen</h1>
{% endblock email-title%}
{% block email-body%}
    <p>Haz recibido este correo debido a que se ha solicitado la recuperacion de contraseña para la página {{ site_name }}.</p>
    <p>Por favor sigue a la siguiente dirección para elegir una nueva contraseña:</p>
    <p><a href="{{ protocol }}://{{ domain }}{% url 'password_recovery_confirm' uidb64=uid token=token %}">{{ protocol }}://{{ domain }}{% url 'password_recovery_confirm' uidb64=uid token=token %}</a></p>
    <p>Su usuario, en caso de que lo haya olvidado es: {{ user.get_username }}</p>
    <p>Gracias por visitar nuestro sitio</p>
    <p>El equipo de {{ site_name }}</p>
{% endblock email-body%}