{% extends 'bases/base_form.html' %}    
    {%block title%}
        <title>Cambio de Contraseña</title>
    {%endblock title%}
    {%block form-description%}
        {% if user.is_authenticated %}
            <div class="col-12 text-center">
                <h1>Cambio de Contraseña</h1>
                <hr style="width:50%; margin-left:auto; margin-right:auto;">
                <p>Ingrese su contraseña anterior, por razones de seguridad, y luego ingrese su nueva contraseña dos veces para que podamos verificar que la ingresó correctamente.</p>
            </div>
            
        {% else %}
            <div class="col-12 text-center">
                <h2>No tienes acceso a esta página.</h2>
                <a href="/"><button class = "btn btn-outline-info">Volver a la página principal</button></a>
            </div>
        {% endif %}
    {%endblock form-description%}

    {% block form-details%}
        {% if user.is_authenticated %}
            <form  action="/password_change/" method="post" class="px-3">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class = "mb-3 ">
                    {% for field in form %}
                        <label for = "{{ field.id_for_label }}" class="form-label ps-2">
                            {{ field.label_tag }}
                        </label>
                        <div class="pb-1 w-750 border-1">
                            {{ field }}
                            {% if field.id_for_label == 'id_new_password1' %}
                                <div class="help-text">{{ form.new_password1.help_text|safe }}</div>
                            {% endif %}
                        </div>
                        <div class="text-danger">
                            {{ field.errors }}
                        </div>
                    {% endfor %}
                </div>
                <div class = "text-center pb-3">
                    <input class = "btn btn-outline-info" type="submit" value="Cambiar Contraseña">
                </div>
            </form>
        {% else %}
        {% endif %}

    {% endblock form-details%}