{% extends 'bases/base.html' %}
{%block title%}
    <title>Cambio de Contraseña - Realizada</title>
{%endblock title%}
{%block content%}
<section class="container-fluid py-5 px-5">
    <div class="card card-custom-bg py-4 px-3">
        <div class="text-center">
            <h2>Cambio de Contraseña Realizada</h2>
            <p>Ha realizado un cambio de contraseña exitoso.</p>
            <p>Se recomienda siempre mantener una copia de su contraseña en un lugar seguro y accesible.</p>        
            <a href="/profile/"><button class = "btn btn-outline-info">Volver a su perfil</button></a>
        </div>
    </div>
</section>
{% endblock content %}