<!DOCTYPE html>
<html lang="es" style = "background-color: #fac0b3;">
    <head>
        <meta charset="UTF-8">
        <title>Recuperacion de contrasena</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1 user-scalable=yes">
    </head>
    <body style = "color: #26979f;">
        <div style = "background-color: #fac0b3; padding : 20px;">
            <section style = "background-color: #c8f0ef; margin : 20px;">
                <div class = "container-fluid" style = "padding-top : 50px; padding-bottom : 50px;">
                    <div class = "row">
                        <div class="col-12 text-center">
                            <div class ="card"  style = "margin-top : 50px; margin-bottom : 50px; margin-left: 60px; margin-right: 60px;">
                                <div class = "card-title">
                                    <h1>Arriendos Kristen</h1>
                                </div>
                                <hr style="width:50%; margin-left:0; margin-right:auto; color: #d3a297;">
                                <div class = "card-body">
                                    <p>Haz recibido este correo debido a que se ha solicitado la recuperacion de contraseña para la página {{ site_name }}.</p>
                                    <p>Por favor sigue a la siguiente dirección para elegir una nueva contraseña:</p>
                                    <p><a href="{{ protocol }}://{{ domain }}{% url 'password_recovery_confirm' uidb64=uid token=token %}">{{ protocol }}://{{ domain }}{% url 'password_recovery_confirm' uidb64=uid token=token %}</a></p>
                                    <p>Su usuario, en caso de que lo haya olvidado es: {{ user.get_username }}</p>
                                    <p>Gracias por visitar nuestro sitio</p>
                                    <p>El equipo de {{ site_name }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>    
        </div>
    </body>
</html>
