{% extends 'bases/base.html' %}
{%block title%}
    <title>Recuperación de Contraseña - Completada</title>
{%endblock title%}
{%block content%}
<section class="container-fluid py-5 px-5">
    <div class="card card-custom-bg py-4 px-3">
        <div class="text-center">
            <h2>Recuperación de Contraseña Completada</h2>
            <p>Su contraseña se ha reestablecido y puede usarla en la página de inicio de sesión</p>
            <a href="/login/"><button class = "btn btn-outline-info">Volver a Inicio de Sesión</button></a>
        </div>
    </div>
</section>
{% endblock content %}