{% extends 'bases/base.html' %}
{%block title%}
    <title>Recuperación de Contraseña - Enviada</title>
{%endblock title%}
{%block content%}
<section class="container-fluid py-5 px-5">
    <div class="card card-custom-bg py-4 px-3">
        <div class="text-center">
            <h2>Recuperación de Contraseña Enviada</h2>
            <p>Hemos enviado instrucciones para recuperar su contraseña. Debería recibir un correo pronto.</p>
            <p>Si no recibe un correo, por favor verificar que ha ingresado el correo correcto. También puede verificar su carpeta de spam.</p>        
            <a href="/login/"><button class = "btn btn-outline-info">Volver a Inicio de Sesión</button></a>
        </div>
    </div>
</section>
{% endblock content %}