{% extends 'bases/base.html' %}
{%block content%}
<section class="container-fluid py-5 px-5">
    <div class="card card-custom-bg py-4 px-3">
        <div class="text-center">
            <h2>Activación de Cuenta Invalida.</h2>
            <p>Tu cuenta no ha sido activa. Ha ocurrido un error a la hora de la activación, el enlace es invalido o ha expirado.</p>
            <a href="/"><button class = "btn btn-outline-info">Volver a la pagina principal</button></a>
        </div>
    </div>
</section>
{% endblock content %}